<template>
  <div class="login">
    <p>Welcome to the most convenient chat In Touch!<br><br>
      Here you can chat with your friends 24/7!<br><br>
      Have fun!</p>
    <router-link to="/auth" class="login-button">
      <button>Chat!</button>
    </router-link>
  </div>
</template>

<script>
export default {
  name: "Greetings"
}
</script>

<style scoped>

</style>
