<template>
  <header>
    <router-link to="/" class="main-link">
      <img src="../assets/logo.svg" alt="Project Logo">
      <p>In Touch</p>
    </router-link>
  </header>
</template>

<script>
export default {
  name: "Header"
}
</script>

<style scoped>

</style>
