@import "variables";

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
}

body {
  background-color: $background-color;
}

header {
  display: flex;
  flex-direction: row;
  height: 8.5%;
  background-color: $header-color;
}

.main-link {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-left: 30px;
  text-decoration: none;

  img {
    padding-right: 20px;
  }

  p {
    color: #686565;
    font-size: 2em;
  }
}

.login {
  border: #A9A7A7 solid 3px;
  width: 83%;
  height: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  align-self: center;
  margin-left: auto;
  margin-right: auto;
  margin-top: 2%;
  padding: 138px;

  p {
    text-align: center;
    color: $font-color;
    font-size: 2em;
    margin-bottom: 50px;
  }

  .login-button {
    button {
      background-color: $default-component-color;
      font-size: 1.6em;
      border: transparent;
      width: 200px;
      height: 60px;
      border-radius: 50px;
      color: $font-color;
    }
  }
}

body{
  background-color: #DDD;
}
.auth {
  background-color: #FFFFFF;
  border: #686565 1px solid;
  width: fit-content;
  display: flex;
  flex-direction: column;
  align-items: center;
  align-self: center;
  margin-left: auto;
  margin-right: auto;
  margin-top: 100px;

  form {
    margin-top: 50px;
    .submit{
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
      input[type=submit]{
        font-size: 1.6em;
        font-weight: bold;
        border: none;
        background-color: $default-component-color;
        width: 100%;
        height: 64px;
      }
    }
  }

  .row {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    border: black solid 1px;
    margin-bottom: 25px;

    label {
      display: flex;
      flex-direction: row;
      align-items: center;
      padding-right: 10px;

      img {
        width: 64px;
      }
    }

    input {
      border: none;
      font-size: 1.4em;
    }
  }

  .auth-options {
    display: flex;
    flex-direction: row;

    div {
      color: #686565;
      font-size: 1.6em;
      padding: 10px 46px;
    }

    .log-in-form {
      border-bottom: #423C3C solid 5px;
    }
  }
}
