<template>
  <Header/>
  <body>
  <div class="auth">
    <div class="auth-options">
      <div class="log-in-form">
        <p>Log In</p>
      </div>
      <div class="sign-up-form">
        <p>Sign Up</p>
      </div>
    </div>
    <form id="login-form">
      <div class="row">
        <label for="email">
          <img src="../assets/img/Mail.svg" alt="">
        </label>
        <input type="email" id="email" name="email" placeholder="yours@example.com"><br>
      </div>
      <div class="row">
        <label for="password">
          <img src="../assets/img/Password.svg" alt="">
        </label>
        <input type="password" id="password" name="password" placeholder="Your password"><br>
      </div>
      <div class="submit">
        <input type="submit" value="LOG IN >">
      </div>
    </form>
  </div>
  </body>
</template>

<script>
import Header from "../components/Header";
export default {
  name: "Auth",
  components: {Header}
}
</script>

<style scoped>

</style>
