<template>
  <div v-if="logged-out||1"> <!-- заглушка на будущее, будет делать проверку состояния в Vuex и рендерить нужный блок-->
    <Header/>
    <Greetings/>
  </div>
</template>

<script>
import Header from "../components/Header";
import Greetings from "../components/Greetings";
export default {
  name: "Home",
  components: {Greetings, Header}
}
</script>

<style scoped>

</style>
